body{
    background-color: aqua;
}

h1{
    color: rgb(0, 26, 255);
}

h2{
    color: blue;
}  
h3{
    color: blue;
}  
p{
    color: red;
}
h1.liv{
    color: darkorange;
}
h1.foot{
    font-size: 50px;color: rgb(8, 0, 255);
}
p.tv{
    font-size: 50px;color: blue;
}
p.tel{
    font-size: 54px;
}
p.house{
    font-size: 54px;
}
p.games{
    font-size: 50px;color: blue;
}
p.bottle{
    height: 400px;
    width: 400px;
    background-color: lawngreen;
}
p.phone{
    font-size: 50px;
}
p.it{
    font-size: 50px;color: black;
}
div{
    font-size: 50px;color: black;
    height: 1000px;
    width: 2000px;
    background-color: blue;
}
a{
    color: black;
}
p.play{
    font-size: 100px;color: darkblue;
}
p.real{
    font-size: 50px;color: darkblue;
}